
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RequestLogin</title>
</head>
<body>
    <div> 
        @ViewBag.Key
        @ViewBag.Key1
    </div>
    <div>
            <a href="@Url.Action("Index","Home")" onclick="login()" id="index" name="index"/>Về Trang Chủ
            <a href="@Url.Action("Login","Home")" onclick="login()" id="index1" name="index1" />Về Trang Đăng Nhập
    </div>
</body>
</html>
<script type="text/javascript">
    var submit = document.getElementById("index");
    var submit1 = document.getElementById("index1");

    function login()
    {
        if(@ViewBag.Key1 == true) 
        {
            document.getElementById("index").hidden = false;
            document.getElementById("index1").hidden = true;
        }
        else{
            document.getElementById("index").hidden = true;
            document.getElementById("index1").hidden = false;
        }
    }
    
</script>
